{% extends "todo/layout.html" %}

{% block body %}
    
    {% if current_user %}
    <!-- <a href="{% url 'todo:logout' %}">Logout</a>
    <br> -->
    <a href="{% url 'todo:profile' %}">My Profile</a>

        <h1>TODOs</h1>
        <!-- NOT COMPLETED TODOS -->
        <ul>
            {% for todo in todos %}
                {% if not todo.completed %}
                    <li>
                        <a href="{% url 'todo:check' todo.id %}"><span style="color: green;">Done</span></a>
                        <a href="{% url 'todo:delete' todo.id %}"><span style="color: red;">Delete</span></a>
                        {{ todo }}
                    </li>
                {% endif %}
            {% empty %}
                <li>No tasks</li>
            {% endfor %}
        </ul>

        <!-- COMPLETED TODOS -->
        <h3>Completed</h3>
        <ul>
            {% for todo in todos %}
                {% if todo.completed %}
                    <li>
                        <a href="{% url 'todo:uncheck' todo.id %}"><span style="color: green;">Unone</span></a>
                        <a href="{% url 'todo:delete' todo.id %}"><span style="color: red;">Delete</span></a>
                        {{ todo }}
                    </li>
                {% endif %}
            {% empty %}
                <li>No tasks</li>
            {% endfor %}
        </ul>

        <form action="{% url 'todo:add' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="add">
        </form>
    
    {% else %}
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <a href="{% url 'todo:signup' %}">Sign up</a>
        <br>
        <a href="{% url 'todo:login' %}">Log in</a>
    {% endif %}
{% endblock %}