<!DOCTYPE html>
<html>
    <head>
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="vh-100 container-fluid p-0">
            <h1 class="m-0 text-center p-5">TODO APP</h1>
            <div class="container-fluid h-75 d-flex flex-column justify-content-top align-items-center m-0 p-0">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer class="bg-dark text-center py-4 mt-0" style="color: #e1e1e1;">Designed by Tushar. October 2022.</footer>
    </body>
</html>