{% extends 'todo/layout.html' %}
    {% block body %}

            {% if message %}
                <div class="alert alert-danger m-0 w-50">{{ message }}</div>
            {% endif %}
            <form action="{% url 'todo:login' %}" method="post" class="container w-50 mt-0 mb-3 d-flex flex-column align-items-center">
                {% csrf_token %}
                <ul type="none" class="container-fluid m-0 p-0">
                    <li class="mb-5 mt-5">
                        <label for="username" class="form-label">Username: </label>
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </li>
                    <li>
                        <label for="password" class="form-label">Password: </label>
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </li>
                </ul>
                <input type="submit" value="Log in" class="btn btn-primary mt-5" style="width: 200px;">
            </form>
            <a href="{% url 'todo:home' %}" class="btn btn-secondary" style="width: 200px;">Go back</a>
        
    {% endblock %}